.boxes {
  height:90vh;

}

.together {
  width: 200px;
  height: 200px;
}

.frontknow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.backknow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}