.ContactPage {
  height: 90vh;
  background-image: linear-gradient(
      rgba(66, 66, 66, 0.4),
      rgba(93, 93, 93, 0.4)
    ),
    url("https://cdn.pixabay.com/photo/2017/11/17/09/37/businessman-2956974_960_720.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
}
