.containerContact {
  height: 90vh;
  background-color: azure;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form {
  margin-top: 140px;
}

.stuff {
  margin-top: -80px;
}

h1 {
  color: white;
}

.boutonPost {
  height: 40px;
  width: 150px;
}

.input-textarea {
  height: 70px;
}
