.footer-div {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(223, 188, 188, 0.8);
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 505px) {
  .footer-div {
    display: none;
  }
}
