@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300');


.footer {
  
  width: 100%;
  color: #000;
  
}

.footer-div {
  margin-top: 40px;
  height: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:#000;
  color: white;
  font-family: 'Poppins', sans-serif;
}


