.page-container {
  height: 90vh;
 
    background-color: azure;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.title {
  color: rgb(5, 5, 5);
}
