.post-projet {
  background-color: rgba(243, 241, 241, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid rgb(108, 123, 172);
  font-style: italic;
}

.ProjetCards {
  display: flex;
  flex-direction: row;
}



.CardImage {
  height: 25vh;
  overflow: hidden;
}

.ProjCard img {
  width: 100%;
}

button img {
  width: 5px;
  height: 40px;
}

.projets {
  display: flex;
  flex-direction: column;
}

.newprojet {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}

.addprojet {
  width: 50px;
  margin-left: 890px;
}
