.ProjetPage {
  background-color: azure;
}


.ProjetCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
 
}



.ProjCard {
  width: 600px;
  height: 500px;
  padding: 20px;
}

.CardImage {
  height: 25vh;
  
}

.ProjCard img {
  width: 100%;
}

.projet-linkto {
  text-decoration: none;
  color: grey;
}
